/* Move down content because we have a fixed navbar that is 50px tall */


.jumbotron {
  background-color: rgb(254, 254, 156);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/assets/jumbotron-splash.gif');
  background-size: 110%;
}
.jumbotron .container {
  padding: 20px;
  font-weight: bolder;
}

.jumbotron h1 {
  color: #3f3f3f;
  border-bottom: none;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
}
.col-md-4 h2 {
  color: #3f3f3f;
  border-bottom: none;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
  font-size: 30px;
}
.jumbotron a {
  color: rgb(25, 121, 168);
}