/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
  background-color: rgb(241,234,154);
  background-image: url('/assets/jumbotron-splash3.png');
  background-position: center;
  background-repeat: no-repeat;
}
.jumbotron .container {
  background-color: rgba(241,234,154,.75);
  padding: 30px;
}
.jumbotron h1 {
  color: #3f3f3f;
  border-bottom: none;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
}
.col-md-4 h2 {
  color: #3f3f3f;
  border-bottom: none;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
  font-size: 30px;
}
.jumbotron a {
  color: #ffffff;
}