h1{
	font-size: 35px;
	margin-bottom: 15px;
	color: #CCC;
	border-bottom: 1px solid #F2F2F2;
    font-family: Georgia, "Times New Roman", Times, serif;	
	font-weight: normal;
}

h2 {
	font-size: 18px;
	margin: 0;
	font-weight: normal;
	border-bottom: 1px solid #CCC;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

h3 {
	font-size: 14px;
	margin: 0;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, serif;
}